body {
  background-image: url("../assets/magic-eightball-empty.png");
  background-repeat: no-repeat;
  background-position: center 7rem;
  background-size: 40rem;
}

.Eightball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18rem;
}

.Eightball-button {
  width: 200px;
  color: white;
  border: none;
  border-top: 1px solid black;
  cursor: pointer;
  padding: 0; 
  position: relative; 
  display: inline-block; 
}

.Eightball-text {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 6rem;
}

.leftTriangle {
    width: 100px;
    height: 200px;
    background-color: black;
    margin: 0 0px 0px 0;
    float: left;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    shape-outside: polygon(0% 0%, 100% 0%, 0% 100%);
}
.rightTriangle {
    width: 100px;
    height: 200px;
    background-color: black;
    margin: 0 0 0px 0px;
    float: right;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    shape-outside: polygon(0% 0%, 100% 0%, 100% 100%);
}